@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

/* Sidenav */
.header-sidenav {
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #cccccc2b;
}

.sidenav {
    background-color: #3f0e40;
    height: 100vh;
    width: 100%;
    margin: 0;
    overflow: auto hidden;
}

/* Sidenav end */

/* create channel */
.create-channel-btn {
    margin: 1rem auto;
    width: 90%;
    display: block;
    padding: .5rem;
    outline: 1px transparent;
    border: none;
    background-color: #0099ff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

/* create channel end */

.channels {
    display: flex;
    flex-direction: column;
}

.channel {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 2rem;
    color: #fff;
    background-color: #114669;
    cursor: pointer;
}

.channel-image {
    background-color: #09f;
    border-radius: 50%;
    height: 48px;
}

.channel-image {
    display: inline-block;
    vertical-align: middle;
}

.channel-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.channel-info-intro {
    width: 100%;
}

.channel-info-intro * {
    margin-block-end: 0;
    margin-block-start: 0;
}

.last-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Message Section */

.messages-container {
    transform: translateX(-100vw);
    position: fixed;
    z-index: 9;	
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-color: #0b141a;
    will-change: transform;
}

.messages-container.active {
    transform: translateX(0);
    transition: transform .2s ease-in-out;
}

.messages-container.inactive {
    transition: transform .2s ease-in-out;
}

.messages-header {
    height: 72px;
    box-sizing: border-box;
    background-color: #3f0e40;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-leave {
    height: 100%;
    border: none;
    margin: 0;
    background-color: transparent;
    font-size: 19px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

@keyframes fadeIn {
    0%, 100% {
        opacity: 0;
        background-color: rgba(210, 210, 210, 0);
        transform: scale(0);
    }
    
    50% {
        transform: scale(1.2);
        opacity: 1;
        background-color: rgba(210, 210, 210, .5);
    }
} 

.btn-leave:active::after {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    transition: background-color .2s ease-in-out, transform .2s ease-in-out;
    animation-name: fadeIn;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    border-radius: 50%;
}

.message-header-right {
    padding: 0 .25rem;
}

.btn-add-user {
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    background-color: #ecb22e;
    padding: .45rem 1.5rem;
}

/* Message container space */

.messages-list {
    display: flex;
    flex-direction: column;
    color: #fff;
    height: calc(100%  - 72px);
}

.messages {
    padding: 1rem .5rem;
    box-sizing: border-box;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}


.message {
    display: inline-block;
    max-width: 90%;
    width: fit-content;
    box-sizing: border-box;
    background-color: #202c33;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    position: relative;
}

.message + .message {
    margin-top: .5rem;
}

.message time {
    position: absolute;
    right: 10px;
    bottom: 3px;
    color: #aaa;
    font-size: 12px;
}

.message-data {
    display: flex;
    padding: .5rem;
    position: relative;
}

.message-data > * {
    margin: 0;
}

.message-data p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message-author {
    padding: .25rem .5rem;
    color: #09f;
}

.message-data .padding {
    align-self: flex-end;
    width: 60px;
}

/* End Message container space */

.form-message {
    padding: 1rem;
    background-color: #3f0e40;
}


.form-message-container {
    display: flex;
    gap: .5rem;
}

.input-message {
    box-sizing: border-box;
    flex: 1;
    margin: 0;
    outline: 1px transparent;
    border: none;
    padding: .25rem .5rem;
    border-radius: 6px;
}

.btn-send-message {
    border-radius: 4px;
    background-color: #114669;
    border: none;
    outline: 1px transparent;
    padding: .5rem;
    cursor: pointer;
}

.btn-send-message img {
    user-select: none;
    pointer-events: none;
}

/* overlay */
.overlay {
    position: fixed;
    display: none;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .75);
}

.overlay.active {
    display: block;
}

/* Modal */
.modal {
    position: fixed;
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: #fff;
    z-index: 10;
    top: 50%;
    left: 50%;	
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: #3f0e40;
    padding: 3rem 0;
    border-radius: 12px;
}

.modal.active {
    display: inline-flex;
}

.form-modal {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-modal {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #0099ff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-align: center;
}

.close-modal-icon svg {
    vertical-align: middle;
}

.add-image {
    background-color: #e01e5a;
    border-radius: 4px;
    position: relative;
    padding: .5rem 1rem;
    margin-bottom: .75rem;
}

.add-image.withFile {
    background-color: #2eb67d;
}

.add-image-input {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.form-modal input {
    font-size: 16px;
    border-radius: 4px;
    padding: .5rem;
    outline: 1px transparent;
}
