{% extends 'layout.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/style.css">
{% endblock %}

{% block title %}
<title>Flack</title>
{% endblock %}

{% block scripts %}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js" integrity="sha512-/xb5+PNOA079FJkngKI2jvID5lyiqdHXaUUcfmzE0X0BdpkgzIWHC59LOG90a2jDcOyRsd1luOr24UCCAG8NNw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<script defer type="module" src="/static/scripts/main.js"></script>
{% endblock %}

{% block content %}
<noscript>
    Por favor habilita JavaScript para poder funcionar correctamente

    En settings / browser / permissions / advanced / scripts / enable JavaScript
</noscript>
<main>
    <section class="sidenav">
        <header class="header-sidenav" align="center">
            <img src="/static/icons/slack-black.svg" alt="Logo de Flack">
        </header>
        <section class="create-channel">
            <button class="create-channel-btn" id="btn-create-channel">Crear canal</button>
        </section>
        <section class="channels">
            {% if request.cookies.get('session') %}
                {% for channel in channels.keys() %}
                    {% set channel_timestamp = '' %}
                    {% set channel_last_message = '' %}

                    {% if channels[channel]['messages'] | length > 0 %}
                        {% set channel_timestamp = channels[channel]['messages'][-1]['timestamp'] %}
                        {% set channel_last_message = channels[channel]['messages'][-1]['message'] %}
                    {% endif %}
                    <channel-item 
                        class="channel" 
                        role="article" 
                        data-channel="{{channel}}" 
                        channelName="{{channel}}" 
                        lastMessage="{{channel_last_message}}" 
                        image="{{channels[channel]['image']['url']}}"
                        date="{{channel_timestamp}}">
                    </channel-item>
                {% endfor %}
            {% endif %}
        </section>
    </section>
    <section class="messages-container" id="messages-container">
        <header class="messages-header">
            <div class="message-header-left">
                <button class="btn-leave" id="close-messages">
                    <img src="/static/icons/leave.svg" width="32" alt="salir icono">
                </button>
                <img src="/static/images/platzi.png" height="32" alt="platzi">
            </div>
            <div class="message-header-right">
                <button class="btn-add-user" id="btn-add-user">
                    <img src="/static/icons/add-icon.svg" width="18" alt="agregar icono">
                </button>
            </div>
        </header>
        <div class="messages-list">
            <div class="messages" id="message-list">
            </div>
            <form class="form-message" id="form-message">
                <div class="message-options">
                    <div class="image-message-option">
                        <img src="/static/icons/image-icon.svg" alt="Imagen icono">
                        <input class="input-file-image" name="imageMessage" type="file" />
                    </div>
                </div>
                <div class="form-message-container">
                    <input type="text" required name="message" autocomplete="new-password" class="input-message" placeholder="Escribe un mensaje aqui">
                    <button id="btn-send-message" class="btn-send-message"><img src="/static/icons/send.svg" width="22px" alt="Enviar"></button>
                </div>
            </form>
        </div>
    </section>
</main>
<footer></footer>

<div class="overlay" id="overlay"></div>

<div class="modal" id="modal-auth">
    <img src="/static/icons/slack-black.svg" alt="Flack logo">
    <h2>Inicia Sesión</h2>
    <form class="form-modal" id="form-auth">
        <input type="text" required name="username" autocomplete="new-password" placeholder="Ingresa un nombre">
    </form>
</div>

<div class="modal" id="modal-add-user">
    <div class="close-modal" id="close-modal">
        <span class="close-modal-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                <path d="M25.3334 8.54666L23.4534 6.66666L16 14.12L8.54669 6.66666L6.66669 8.54666L14.12 16L6.66669 23.4533L8.54669 25.3333L16 17.88L23.4534 25.3333L25.3334 23.4533L17.88 16L25.3334 8.54666Z" fill="#111"/>
            </svg>
        </span>
    </div>
    <img src="/static/icons/slack-black.svg" alt="Flack logo">
    <h2>Agrega un usuario</h2>
    <form class="form-modal" id="form-add-user">
        <input type="text" required name="username" autocomplete="new-password" placeholder="Ingresa el nombre">
    </form>
</div>

<div class="modal" id="modal-channel">
    <div class="close-modal" id="close-modal">
        <span class="close-modal-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                <path d="M25.3334 8.54666L23.4534 6.66666L16 14.12L8.54669 6.66666L6.66669 8.54666L14.12 16L6.66669 23.4533L8.54669 25.3333L16 17.88L23.4534 25.3333L25.3334 23.4533L17.88 16L25.3334 8.54666Z" fill="#111"/>
            </svg>
        </span>
    </div>
    <img src="/static/icons/slack-black.svg" alt="Flack logo">
    <h2>Nombre del canal</h2>
    <form class="form-modal" id="form-create-channel">
        <div class="add-image">
            <span>Agregar imagen</span>
            <input type="file" class="add-image-input" required name="image_channel" accept="image/*">
        </div>
        <input type="text" name="channel_name" autocomplete="new-password" placeholder="Ingresa nombre de un canal" required>
    </form>
</div>
{% endblock %}
